* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}


body {
  background-color: #0b0c10;
  overflow-x: hidden;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: #0b0c10;
  overflow: hidden;
  list-style-type: none;
}



li a {
  margin-left: 30px;
  display: flex;
  ;
  align-content: center;
  padding: 14px;
  text-align: center;
  float: left;
  text-decoration: none;
  color: #66FCF1;
}

.h1-style-text {
  text-align: center;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a:hover {
  background-color: #66FCF1;
  color: #0b0c10;
  border-radius: 5px;
}

h1 {
  color: #66FCF1;
}

.div-position-text {
  position: relative;
  left: 70px;
  top: 50px;
}

.p-asezare-text {
  position: relative;
  left: 10px;
  color: white;
  font-size: 30px;
}

.img-position {
  border-radius: 50%;
  height: 400px;
  width: 370px;
}

.div-position-imagine {
  position: relative;
  left: 900px;
  bottom: 50px;
}

.section-bg-color {
  background-color: #0b0c10;
}

.h2-style {
  text-align: center;
  font-size: 30px;
  color: #66FCF1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-centrare-text {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  padding: 150px;
}

.p-dimensiune {
  font-size: 25px;
}

form {
  text-align: center;
  width: 100%;
}

.input-asezare {
  width: 15%;
  background-color: #66FCF1;
  border-radius: 2px;
}

.input-asezare-centrata {
  width: 35%;
  background-color: #66FCF1;
  border-radius: 2px;
}

.button-style {
  background-color: white;
  color: #66FCF1;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 2px;
}

.button-style:hover {
  background-color: #66FCF1;
  color: white;
}

.div-bg-color {
  background-color: #45A29E;
}

.div-flex {
  display: flex;
  justify-content: center;
}

.h2-title {
  font-size: 50px;
  color: #66FCF1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label-color {
  color: white;
}

.p-font-family {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-font-family {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-copyraight {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.img-logo {
  height: 30px;
  width: 30px;
}
